/* HTML reset - Eric Meyer */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Styles start here */

body {
    font-size: 15px;
}

.fallback-message {
	width: 740px;
	margin: 10px auto;
}

a {
    color: black;
}
.impress-supported .fallback-message {
	display: none;
}

#impress {
	min-height: 740px;
	
}

.step {
	min-height: 740px;
	min-width: 900px;
}

.impress-enabled .step {
	opacity: 0.3;
	-webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
    font-family: 'Inder', sans-serif;
    /*font-size: 20px;*/
}

.impress-enabled .step.active {
	opacity: 1;
}

.step h1 {
	text-align: center;
	font-size: 4em;
	margin-top: 20px;
}

.step h2 {
	font-size: 2em;
	margin-top: 15px;
	text-align: center;
}

.step .container {
	padding: 50px;
}

.step .container p {
    font-size: 2.5em;
}

.step .container ul li {
    font-size: 2em;
    list-style-type: disc;
    line-height: 50px;
}

.step .container ol li {
    font-size: 2em;
    list-style-type: lower-roman;
    line-height: 3em;
}
.code {
	font-family: 'Source Code Pro';
    font-size: 1.2em;
    background: #f3f3f3;
    padding: 10px;
    margin: 10px;
}

.clear {
    clear: both;
}

.large {
    font-size: 3em;
}

.center {
    text-align: center;
    margin: 0 auto;
}

#second-level {
    padding-left: 20px;
    list-style-type: circle;
    font-size: 0.5em;
}

em {
    font-style: italic;
}

.bottom-padding {
    padding-bottom: 30px;
}

#overview { 
    display: none;
}

/* hack for the chrome bug where elements are no longer clickable */
.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }